@* @model IQueryable<Product> *@
@model UrunlerListesiViewModel
@foreach (var u in Model.Urunler)
{
    <div>
        <h3>@u.UrunAd</h3>
        @u.Aciklama
        <h4>@u.Fiyat.ToString("c")</h4>
    </div>
}
<div sayfa-model="@Model.SayfalamaBilgi" sayfa-action="Index"></div>

